/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}




body {
	font-family: Papyrus, Fantasy;
	background-color: #3D5B59;
}

header{
  text-align: center; 
  color: #3F706F;  
  background: #36EEE0;
  padding:1em;
  font-size: 45px;  
}



.navbar {
   background-color: #36EEE0;
   color: #00FFC2;
   overflow: hidden; 
   position: absolute; 
   bottom: 0; 
   width: 100;
   display: inline-block;
}

.navbar a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.navbar a:hover{
background-color: #3F706F; 
color: #00FFC2;  
}

p{
color: #00FF77;
border: 1px solid black;
background-color: #4D9590;
padding: 3px;
margin: 5px;    
}



//* Image settings*//

figure{
margin:0px;
padding:0.5em;

}



figcaption{
  color:#00FFC2;     
}

figure img {
	width: 350px;
    height: 200px;   
}

//* Footer Style*//

<stytle>
 .footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
 }

</style>



div#container {
	
}




